body {
}

#banner {
    widht: 100%; 
}

.principal {
background: #CCCCCC;
    padding: 30px;
}

h1 { 
    text-align: center;
    } 

P{
    text-align: center;
    background #CCCCCC;
}

#missão {
    font-size: 20px;
}

em strong {
    color:#FFOOOO;
}

.benefícios {
background: #FFFFFF;
    padding: 20 px;
}
    
.itens {
    font-style: italic;
}

    . imagembeneficios { 
    width 50%;
}

    ul {
        display: inline-block;
    vertical-align: top;
        width: 20%;
        margin-right: 15%;
    }
