body {
    background: #CCCCCC;
}

#banner {
    widht: 100%; 
}

h1 { 
    text-align: center;
    } 

P{
    text-align: center;
    background #CCCCCC;
}

#missão {
    font-size: 20px;
}

em strong {
    color:#FFOOOO;
}
    
.itens {
    font-style: italic;
}
